@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family:'Poppins', sans-serif;
    color: #272D3E;
    background-color: #FFFFFF;
    overflow-x: hidden;
}

#Hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* dwie kolumny o tej samej szerokości */
    gap: 40px;
    align-items: center;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 20px;
}

.container a{
    color: black;
    text-decoration: none;
}

.hero-img img{
    width:100%;
    height: auto;
    border-radius: 8px;
    display:block
}

button {
    background-color:#2639ED;
    color:#FFFFFF;
    border: none;
    border-radius: 40px;
    padding: 20px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 16px;
    font-weight: 600;
    cursor:pointer;
}

.hero-text {
    margin:0;
}

.hero-text h1 {
    margin-bottom: 30px;
    line-height: 1.2;
}

.hero-text p {
    margin-bottom: 30px;
    line-height: 1.2;
}

.container1 {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px auto;
    gap: 40px;
    max-width: 1200px;
}

h1 {
    font-size: 40px;
    font-weight: 800;
    color: black;
}

h2 {
    font-size: 24px;
    font-weight: 800;
    color: black;
}

.container2 {
    display:grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    margin: 80px auto;
    padding: 0 20px;
    gap: 60px;
    max-width: 1200px;
}

.container3 {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px auto;
    gap: 40px;
    max-width: 1200px;
}

.container3 p {
    margin-top: 30px; 
}

.card1, .card2, .card3, .card4 {
    background: #FFFFFF;
    padding: 40px 30px;
    border-radius: 40px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.03);
    text-align: center;
    border: 1px solid #F2F2F2;
}



